
<footer class="flex flex-row w-full m-0 p-0 bg-black dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <p class="self-center text-1xl  font-semibold whitespace-nowrap dark:text-white color">Mentions Legales : Titre D.W.W.M 2023 GEORGES Loic Simplon & co.</p>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="https://www.eurosport.fr/tennis/" class="mr-4 hover:underline md:mr-5 color">Eurosport</a>
      </li>
      <li>
          <a href="https://live-tennis.eu/fr/classement-atp-live" class="mr-4 hover:underline md:mr-6 color">Live Tennis</a>
      </li>
      <li>
          <a href="https://www.fft.fr/" class="mr-4 hover:underline md:mr-6 color">F.F.T</a>
      </li>
      <!-- <li>
          <a href="#" class="hover:underline">Contact</a>
      </li> -->
  </ul>
  </div>
</footer>

